<div class="content-container">
  <div class="content-area">
    <div class="row">
      <div class="col-xs-6 offset-xs-3">
        <div class="card">
          <div class="card-header">Nie znaleziono strony</div>
          <div class="card-block">
            <div class="card-text">Ups, próbowałeś otworzyć stronę, która nie istnieje.</div>
          </div>
          <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="back()">Wróć</button>
            <button class="btn btn-sm btn-link">Zobacz Fora</button>
            <button class="btn btn-sm btn-link">Zobacz Blogi</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

