<div class="card">
  <div class="card-header">
    Choose user to chat
    <button aria-label="Close" class="close" type="button" (click)="close()">
      <cds-icon aria-hidden="true" shape="window-close"></cds-icon>
    </button>
  </div>
  <div class="card-block">
    <div class="card-text">
      <clr-tree>
        <clr-tree-node [clrExpanded]="true">Users:
          <clr-tree-node *ngFor="let user of users" (click)="talkTo = user"><span [class.active]="talkTo == user" class="clr-treenode-link">{{user}}</span></clr-tree-node>
        </clr-tree-node>
      </clr-tree>
    </div>
  </div>
  <div class="card-footer">
    <a class="btn btn-sm btn-link btn-primary" *ngIf="talkTo" [routerLink]="[talkTo]">Start chat with {{talkTo}}</a>
  </div>
</div>
