<clr-main-container>
  <header class="header header-6">
    <div class="branding">
      <a>
        <cds-icon shape="chat-bubble"></cds-icon>
        <span class="title">Community</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link" routerLink="/forums"><span class="nav-text">Forums</span></a>
      <a class="nav-link"><span class="nav-text">Blogs</span></a>
    </div>
    <div class="header-actions">
      <a class="nav-link nav-icon" [routerLink]="[{outlets: {chat: ['users']}}]">
        <cds-icon shape="talk-bubbles"></cds-icon>
      </a>
      <a class="nav-link nav-icon">
        <cds-icon shape="logout"></cds-icon>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
      <router-outlet name="chat"></router-outlet>
    </div>
  </div>
</clr-main-container>
